<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwConfigExceptions="true"
	  >

	<!--//======================================= Register Custom Target ==============================================//-->
	<extensions>
		<add assembly="NLogWebAPI" />
	</extensions>

	<!--//======================================= Internal logging for NLog debugging =================================//-->	 
	<internalLogFile>${basedir}/Logs/nlog-internal.log</internalLogFile>
	<internalLogLevel>Debug</internalLogLevel>
	<targets>
		<!--//................................... Target for File logging for internal logs .......................... -->

		<!--
		<target name="internalLogTarget" xsi:type="File"
                fileName="${basedir}/Logs/nlog-internal-${shortdate}.log"
				layout= "[${longdate}] [${level:uppercase=true}] ${message} ${exception:format=toString,stackTrace}"
                archiveEvery="Day"
                archiveNumbering="Date"
                maxArchiveFiles="5" />
		-->

		<target name="internalLogTarget" xsi:type="File"
                fileName="${basedir}/Logs/nlog-internal.log"
				layout= "[${longdate}] [${level:uppercase=true}] ${message} ${exception:format=toString,stackTrace}"
				archiveAboveSize="51200" 
                archiveNumbering="Sequence"
                archiveFileName="${basedir}/Logs/nlog-internal.{#}.log"
                maxArchiveFiles="5" />
	 
	</targets>
	
	<!--//======================================= Redirect internal logs to file target ===============================//-->
	<rules>
		<logger name="*" minlevel="Debug" writeTo="internalLogTarget" />
	</rules>


	<!--//======================================= Targets for application logging =====================================//-->
	<targets>
		<!--//................................... Target for Azure Log Analytics ......................................//-->
		<target name="logAnalytics" xsi:type="LogAnalytics"
                customerId="{workspace ID}"
                sharedKey="{Primary key}"
                logType="tni_nlog_app" />

		<!--//................................... Target for Console ..................................................//-->
		<target name="logConsole1" xsi:type="Console"		
				layout="${longdate} | ${level} | ${message} | ${exception:format=toString} | ${all-event-properties}" 
				/>

		<target name="logConsole2" xsi:type="Console"
				layout= "[${longdate}] [${level:uppercase=true}] ${message} ${exception:format=toString,stackTrace}"
				/>
		 

		<!--//................................... Target for File logging with layout .................................//-->
		<!--<target name="file" xsi:type="File"
                fileName="logs/logfile.txt"
                layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=toString,stackTrace}" />
				-->

		<target name="logfile" xsi:type="File"
				fileName="${basedir}/Logs/tni_nlog_app_${shortdate}.log"
				layout="[${longdate}] [${uppercase:${level}}] ${message} ${exception:format=tostring}"
				archiveAboveSize="51200"
				archiveNumbering="Sequence"
				archiveFileName="${basedir}/Logs/tni_nlog_app_${shortdate}.{#}.log"
				maxArchiveFiles="5" />
 

	</targets>

	<!--//======================================= Rules for logging ===================================================//-->
	<rules>
		<!-- Log all to Azure Log Analytics and Console -->
		 <logger name="*" minlevel="Debug" writeTo="logAnalytics,logConsole2,logfile" />  
		
	</rules>

</nlog>
